{% extends 'core/base.html' %}

{% block title %} Home {% endblock %} 

{% block content %}
<div class="place-content-center">
    <div class="text-center mt-16">
        <h1 class="text-5xl mt-10 text-white"> <strong class="text-purple-600"> Crypt </strong> <strong> a platform that give</strong> </h1>
        <h1 class="text-5xl my-4 text-white"><strong>recommendation for people who </strong> </h1>
        <h1 class="text-5xl my-4 text-white"><strong>is looking to invest on Crypto </strong></h1>
    </div>
    <div class="text-center mt-16">
        <h1 class="text-white text-xl font-semibold">Our website is dedicated to providing users with</h1>
        <h1 class="text-white text-xl font-semibold">cryptocurrency price predictions and visualizations through</h1>
        <h1 class="text-white text-xl font-semibold">the use of cutting-edge machine learning algorithms,</h1>
        <h1 class="text-white text-xl font-semibold">including <a href="https://facebook.github.io/prophet/" class="underline">FBProphet</a>, <a href="https://nixtla.github.io/neuralforecast/models.lstm.html" class="underline">LSTM</a>, and <a href="https://nixtla.github.io/neuralforecast/models.nhits.html" class="underline">Nhits</a> to help make their</h1>
        <h1 class="text-white text-xl font-semibold">investment decisions.</h1>
    </div>
</div>


{% endblock %}