{% extends 'core/base.html' %}

{% block title %} 404 Not Found {% endblock %} 

{% block content %}

<div class="flex items-center justify-center h-96 w-full">
  <div class="rounded-lg px-6 py-4">
      <h1 class="text-8xl text-white text-center">{{ message }}</h1>
      <div class="flex justify-center mt-6">
          <a href="/" class="bg-gradient-to-r from-rose-700 to-purple-600 hover:from-purple-600 hover:to-rose-700 hover:text-white text-stone-900 font-bold text-xl md:text-4xl rounded-full py-5 px-6 transition-all duration-500">
              Go Back 
          </a>
      </div>
  </div>
</div>
  

{% endblock %}

