{% extends 'core/base.html' %}

{% block title %} 404 Not Found {% endblock %} 

{% block content %}

<div class="flex items-center justify-center h-96 w-full">
    <div class="rounded-lg px-6 py-4">
      <h1 class="text-8xl text-white text-center">{{ message }}</h1>
      <div class="flex justify-center mt-6">
        <a href="{% url 'core:home' %}" class="bg-gray-700 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded">
          Back to Home
        </a>
      </div>
    </div>
</div>
  

{% endblock %}

