{% extends 'core/base.html' %}

{% block title %} Home {% endblock %} 

{% block content %}

<div class="place-content-center">
  <div class="container mx-auto flex items-center justify-center">
    <div class="flex flex-row w-10/12">
      <div class="bg-gradient-to-tr from-transparent to-base-blue rounded-xl h-screen w-3/12">

      </div>
      <div class="flex flex-col ml-4 w-9/12">
        <div class="text-white text-3xl font-bold my-4 mx-5">
          History
        </div>
        <div class="bg-gray-800 rounded-xl flex-1 shadow-xl"></div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
