{% extends 'core/base.html' %}
{% load humanize %}


{% block title %} Home {% endblock %} 

{% block content %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg my-10">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xl text-white text-center bg-gray-50 dark:bg-base-dark dark:border-gray-700">
        <tr>
          <th scope="col" class="px-6 py-3">
            #
          </th>
          <th scope="col" class="px-6 py-3 w-60">
            Coin Name
          </th>
          <th scope="col" class="px-6 py-3">
            Last Price
          </th>
          <th scope="col" class="px-6 py-3">
            24 hr Change
          </th>
          <th scope="col" class="px-6 py-3">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        {% for currency in queryset %}
        <tr class="bg-white dark:bg-base-dark text-center clickable-row" data-href="{% url 'core:detail' %}">
          <td class="px-6 py-4 text-xl font-semibold text-white">
            {{ forloop.counter }}
          </td>
          <td class="px-6 py-4 text-left">
            <div class="flex items-center">
              <img class="h-9 w-9 inline-flex mr-3" src="{{ request.scheme }}://{{ request.get_host }}/{{ currency.logoImage }}" alt="{{ currency.coinName }}">
              <span class="text-xl text-white font-semibold truncate w-36">{{ currency.coinName }}</span>
            </div>
          </td>                
          <td class="px-6 py-4 inline-flex text-xl font-semibold text-white">
            ${{ currency.lastPrice|floatformat:2|intcomma }}
          </td>
          <td class="px-6 py-4 text-xl font-semibold {% if currency.PercentChange > 0 %}text-green-500{% else %}text-red-500{% endif %}">
            {{ currency.PercentChange|floatformat:2|intcomma }} %
          </td>
          <td class="px-6 py-4">
            <form action="{% url 'core:detail' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="symbol" value="{{ currency.symbol }}">
              <button type="submit" class="font-medium text-white hover:underline rounded-md bg-base-red px-4 py-2">View</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <script>
    // Get the CSRF token from the cookie
    function getCSRFToken() {
      const cookieValue = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
      return cookieValue;
    }
  
    // Get all rows with the 'clickable-row' class
    const rows = document.querySelectorAll('.clickable-row');
  
    // Add click event listener to each row
    rows.forEach(row => {
      row.addEventListener('click', () => {
        // Retrieve the URL from the 'data-href' attribute
        const url = row.getAttribute('data-href');
  
        // Retrieve the symbol value from the hidden input field within the row
        const symbol = row.querySelector('input[name="symbol"]').value;
  
        // Create a form dynamically
        const form = document.createElement('form');
        form.action = url;
        form.method = 'post';
  
        // Create a hidden input field to store the symbol value
        const symbolInput = document.createElement('input');
        symbolInput.type = 'hidden';
        symbolInput.name = 'symbol';
        symbolInput.value = symbol;
  
        // Create a hidden input field for the CSRF token
        const csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = 'csrfmiddlewaretoken';
        csrfInput.value = getCSRFToken(); // Set the CSRF token value
  
        // Append the hidden input fields to the form
        form.appendChild(symbolInput);
        form.appendChild(csrfInput);
  
        // Append the form to the document body
        document.body.appendChild(form);
  
        // Submit the form
        form.submit();
      });
    });
  </script>
  
  
  

{% endblock %}