{% extends 'core/base.html' %}
{% load humanize %}


{% block title %} Home {% endblock %} 

{% block content %}

<div>
    <h1 class="text-5xl text-white font-bold mb-5 text-center">Find your favorite cryptocurrency</h1>
    <div class="flex justify-center mt-10">
      <div class="bg-white flex py-2 px-3 rounded-full w-1/3 border-grey-light border">
        <form class="flex items-center w-full" action="{% url 'core:detail'%}" method="POST"> 
          {% csrf_token %}
          <input class="w-11/12 rounded mr-4 border-none outline-none appearance-none px-3 py-2" aria-label="search" type="search" placeholder="Search..." name="symbol">
          <button type="submit" class="bg-white text-gray-600 hover:text-gray-700 focus:outline-none">
            <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve">
              <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23 s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92 c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17 s-17-7.626-17-17S14.61,6,23.984,6z"/>
            </svg>
          </button>
        </form>
      </div>
    </div>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg my-10">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xl text-white text-center bg-gray-50 dark:bg-base-dark dark:border-gray-700">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Coin Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Last Price
                </th>
                <th scope="col" class="px-6 py-3">
                    24 hr Change
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
          {% for item in context %}
            <tr class="bg-white dark:bg-base-dark text-center">
              <th scope="row" class="px-6 py-4 text-xl text-white items-start">
                  <img class="h-9 w-9 inline-flex mr-3" src="{{ item.logoUrl }}">
                  {{ item.longName }}
              </th>
              <td class="px-6 py-4 inline-flex text-xl font-semibold">
                ${{ item.regularMarketPrice|floatformat:2|intcomma }}
              </td>
              <td class="px-6 py-4 text-xl font-semibold {% if item.regularMarketChangePercent > 0 %}text-green-500{% else %}text-red-500{% endif %}">
                {{ item.regularMarketChangePercent|floatformat:2|intcomma }}
              </td>
              <td class="px-6 py-4">
                <form action="{% url 'core:detail' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="symbol" value="{{ item.symbol }}">
                  <button type="submit" class="font-medium text-green-400 hover:underline">View</button>
              </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}