{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} {% endblock %} | Roughy.io</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	</head>
    <body>
      <div class="w-full flex flex-wrap h-screen">
        <div class="bg-base-dark w-5/12 h-full flex items-center justify-center">
            <form method="POST">
                {% csrf_token %}
                <div class="text-white text-4xl font-bold my-10">
                    <a href="{% url 'core:home' %}">Crypt</a> 
                </div>
                <div class="text-white text-xl mb-5 font-semibold">
                    Welcome
                </div>
                {% if form.errors or form.non_field_errors %}
                    <div class="mb-3 p-3 bg-white text-red-600 rounded-xl border-2 border-red-700">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="mb-6">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                    {{ form.username }}
                </div>
                <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
                    {{ form.email }}
                </div>
                <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="mb-6">
                    <label for="repassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Re-enter Password</label>
                    {{ form.password2 }}
                </div>
                <div class="flex items-start mb-6">
                    <div class="flex items-center h-5">
                        <input id="remember" type="checkbox" value="" class="px-4 py-4 border-black" required>
                    </div>
                    <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">I Agree to <a class="text-blue-700" href="{% url 'core:termsandconditions' %}">terms & conditions</a> </label>
                </div>
                <button class="px-5 py-3 rounded-lg w-96 bg-base-red text-white font-semibold">Submit</button>
                <p class="text-white mt-4">Already have an account?<a href="{% url 'core:login' %}" class="text-base-red"> Click here</a></p>
            </form>        
        </div>
        <div class="bg-base-dark w-7/12 flex items-center justify-center">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_jcikwtux.json" background="transparent" speed="0.4" style="width: 800px; height: 800px;" loop autoplay></lottie-player>
        </div>
    </div>
    
      
    
    </body>
    
