{% extends 'core/base.html' %}

{% block title %} Terms and Conditions {% endblock %} 

{% block content %}
<div class="container mx-auto px-4 text-white py-8">
    <h1 class="text-2xl font-bold mb-4">Terms and Conditions</h1>
    <div class="bg-transparent shadow-md p-6">
      <h2 class="text-lg font-bold mb-4">1. Intellectual Property</h2>
      <p class="mb-4">
        The content and materials available on our web app, including but not limited to text, graphics, logos, images,
        and software, are the property of crypt and are protected by applicable intellectual property laws. You
        may not use, modify, distribute, or reproduce any of the content without our prior written consent.
      </p>

      <h2 class="text-lg font-bold mb-4">2. User Conduct</h2>
      <p class="mb-4">
        When using our web app, you agree to:
      </p>
      <ul class="list-disc ml-6 mb-4">
        <li class="mb-2">Provide accurate and complete information when registering or using any features of the web app.</li>
        <li class="mb-2">Maintain the security and confidentiality of your account credentials.</li>
        <li class="mb-2">Use the web app for lawful purposes only and refrain from engaging in any illegal or unauthorized activities.</li>
        <li class="mb-2">Respect the rights and privacy of other users and refrain from harassing, abusing, or defaming others.</li>
        <li class="mb-2">Refrain from uploading or transmitting any harmful code, viruses, or malicious content.</li>
      </ul>

      <h2 class="text-lg font-bold mb-4">3. Privacy Policy</h2>
      <p class="mb-4">
        Our privacy policy explains how we collect, use, and protect your personal information. By using our web app, you
        agree to our privacy policy, which is incorporated by reference into these terms and conditions.
      </p>

      <h2 class="text-lg font-bold mb-4">4. Disclaimer of Warranty</h2>
      <p class="mb-4">
        Our web app is provided on an "as is" and "as available" basis, without any warranties of any kind, whether
        express or implied. We do not guarantee the accuracy, reliability, or availability of the web app and disclaim all
        liability for any errors or omissions.
      </p>

      <h2 class="text-lg font-bold mb-4">5. Limitation of Liability</h2>
      <p class="mb-4">
        In no event shall crypt be liable for any indirect, incidental, special, consequential, or punitive
        damages arising out of or in connection with the use of our web app, including but not limited to loss of data,
        revenue, or profits, even if advised of the possibility of such damages.
      </p>

      <h2 class="text-lg font-bold mb-4">6. Modifications and Termination</h2>
      <p class="mb-4">
        We reserve the right to modify, suspend, or terminate our web app, its features, or these terms and conditions at
        any time without prior notice. We may also impose limitations on certain features or restrict access to parts or
        all of the web app without liability.
      </p>

      <h2 class="text-lg font-bold mb-4">7. Governing Law</h2>
      <p class="mb-4">
        These terms and conditions shall be governed by and construed in accordance with the laws of Indonesia,
        without regard to its conflict of laws principles.
      </p>

      <h2 class="text-lg font-bold mb-4">8. Severability</h2>
      <p class="mb-4">
        If any provision of these terms and conditions is found to be invalid or unenforceable, the remaining provisions
        shall remain in full force and effect.
      </p>

      <p class="mb-4">
        By using our web app, you acknowledge that you have read, understood, and agreed to these terms and conditions.
      </p>

      <p class="mb-4">
        If you have any questions or concerns about these terms, please contact us at muhammad.rafii.haditomo@gmail.com.
      </p>
    </div>
  </div>

{% endblock %}